#Topimg {
  position: relative;
  background: black;

  min-height: 500px;
  height: 100vh;
  background: #b51212;
  background: linear-gradient(135deg,rgba(0,0,0,.2) 0,#002d77 100%);
  background-image: linear-gradient(135deg,rgba(0,0,0,.2) 0,#000 100%),url("http://www.seriouseats.com/recipes/assets_c/2015/05/Anova-Steak-Guide-Sous-Vide-Photos15-beauty-thumb-1500xauto-423558.jpg");
  background-position: center;
  background-size: cover;
  //padding-right: 200px;

  .title{
    padding: 200px 0 80px;
    text-align: right;
    h1{
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-size: 4rem;
    }

    h5{
      text-transform: uppercase;
      color: white;
      font-weight: 300;
    }
  }
  .contact-info {
  //  position: absolute;
  //  bottom: 0;
  //  right: 0;
    text-align: right;
    color: white;
    font-size: .9rem;
    line-height: 1.5rem;
    .booking {
      margin-bottom: 10px;
    }
    strong{
      font-weight: bold;
    }
    h2{
      font-size: 2rem;
      margin-bottom: 50px;
    }
  }

}
