// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
$textFont: 'Roboto Condensed', sans-serif;
$headerFont: 'Roboto', sans-serif;

$darkpurple: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$pink: #FF6F91;
$darkgrey: #ADA8AA;
$lightgrey: #D1CBCD;

$titleColor: #AAAAAA;

$paragraphColor: #ADADAD;

$footerbackround: #131A22;

$black: #202020;

$red: #911A20;

$green: #4D6010;
